header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: rgba(15, 15, 26, 0.8);
  border-bottom: 1px solid var(--color-border-light);
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.logo_icon {
  width: 32px;
  height: 32px;
  background: linear-gradient(
    135deg,
    var(--color-link-hover),
    var(--color-primary-end)
  );
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.logo_text {
  font-size: 1.5rem;
  font-weight: 700;
  background: linear-gradient(
    to right,
    var(--color-primary-start),
    var(--color-primary-end)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logout_btn {
  width: fit-content !important;
  height: 38px !important;
}

@media (max-width: 480px) {
  header {
    gap: 1rem;
    padding: 1rem;
  }

  .logo_text {
    font-size: 1.2rem;
  }

  .logo_icon {
    width: 28px;
    height: 28px;
    font-size: 16px;
  }

  .logout_btn {
    height: 28px !important;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .logo_text {
    font-size: 1.35rem;
  }

  .logout_btn {
    height: 32px !important;
  }
}
